:local {
  .loading {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
  }

  .message {
    display: block;
    font-size: 1.5rem;
  }
}
