:local {
  .notes:not(:first-child) {
    padding-top: 1rem;
  }

  .note {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }

  .note:last-child {
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
  }

  .title::before {
    background-color: #e6ebf1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 48 48' class='is-bidi' height='1em' width='1em' fill='%236a737d'%3E%3Cpath d='M10.5 26.3a16 16 0 01.9-5.3L8 17.6a6.73 6.73 0 01-2-4.8A6.41 6.41 0 018 8a6.76 6.76 0 019.6 0l9 9a6.88 6.88 0 010 9.6 6.27 6.27 0 01-3.4 1.8 2.65 2.65 0 00.5.6l4.1 4.1a11.36 11.36 0 003.1-2.3 12.8 12.8 0 000-18.1l-9-9a12.63 12.63 0 00-9-3.7 12.63 12.63 0 00-9 3.7A12.1 12.1 0 000 12.8a12.63 12.63 0 003.7 9l7 7a21.05 21.05 0 01-.2-2.5zm27-4.6a16 16 0 01-.9 5.3l3.4 3.4a6.79 6.79 0 11-9.6 9.6l-9-9a6.88 6.88 0 010-9.6 6.27 6.27 0 013.4-1.8 2.65 2.65 0 00-.5-.6l-4-4a11.36 11.36 0 00-3.1 2.3 12.8 12.8 0 000 18.1l9 9a12.73 12.73 0 0018-18l-7-7a8 8 0 01.3 2.3z'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #f6f8fa;
    border-radius: 50%;
    content: '';
    display: block;
    height: 32px;
    left: -2.7rem;
    position: absolute;
    top: -2px;
    width: 32px;
  }

  .link {
    color: inherit;
    text-decoration: none;
  }
}
