:local {
  .release-notes {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: 980px;
    min-width: 200px;
    padding: 0 45px;
  }

  // Reduce padding on mobile.
  @media (max-width: 767px) {
    .release-notes {
      padding: 15px;
    }
  }

  .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .homepage {
    float: right;
    font-size: 2rem;
    padding-top: 3px;
  }

  .footer {
    padding: 15px;
  }
}
